@model Strongly_Example.Models.PersonViewModel
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
Name: @Model.Name
<br />
Email:@Model.Email
<br />
Website:@Model.Website
<br />
Car Name:@Model.CarName
<br />
Car Plak:@Model.CarPlak

